*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}
.logo img{position: absolute;
    width: 148px;
    height: 148.6px;
    padding: 1rem;
    top  : -53px;
    margin-left: 1px;
    margin-top: 1px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    width: 690px;
    margin-left: 145px;
    font-size: 13px;
}
.navbar a {
    font-weight: 700;
}
.nav__link {
    color: black;
}
.nav__link--active {
    color: #ff6f61;
}
.nav__link:hover {
    color: #ff6f61;
}
.subsm {
    position: absolute;
   background-color: #ff6f61;
   color: white;
   text-align: center;
   padding-top: 2.5px;
   padding-bottom:3px;
   top: -5px;
   font-size: 10px;
   margin-left: 80px;
   width: 70px;
   margin-top: 2.5px;
   border-radius: 1px;
}
.navbar {
    position: absolute;
    margin-top: 16px;
}
 .login {
    display: flex;
    position: absolute;
    margin-left: 1020px;
    margin-top: 18px;
    font-size: 13px;
    letter-spacing: 0.8px;
}
.login a {
    color: black;
}
.login p {
    position: relative;
    margin-left: 6px;
}
.sign {
    position: relative;
    margin-left: 6px;
}
.fa-cart-shopping {
    position: absolute;
    margin-left: 35px;
    font-size: 20px;
    top: -2px;
}
.sup {
  margin-left: 100px;
}
sup {
    position: absolute;
    top: -11px;
    left: 265px;
    color: #ff6f61;
    font-size: 10px;
}
.hr {
    position: absolute;
    width: 100%;
    height: 47px;
   border: 1px solid rgba(128, 128, 128, 0.233);
   margin-top: 50px;
   border-top: 1px solid rgba(128, 128, 128, 0.103);
}
.txt {
    position: absolute;
    width: 190px;
    margin-left: 63px;
    margin-top: 8px;
    height: 32px;
    padding-left: 30px;
    font-size: 12px;
    border-width: 0.1px;
    background-color: #f1f4f6;
    border-color:  rgba(128, 128, 128, 0);
    border-radius: 3px;
}
.fa-location-dot {
    position: absolute;
    margin-left: 73px;
    margin-top: 15px;
    font-size: 15px;
    color: grey;
}
.fa-location-crosshairs {
    position: absolute;
    margin-left: 225px;
    margin-top: 15px;
    font-size: 15px;
    color: grey;
}
.search {
    position: absolute;
    margin-left: 265px;
    margin-top: 8px;
    width: 460px;
    height: 32px;
    padding-left: 12px;
    border-width: 0.1px;
    background-color: #f1f4f6;
    border-color:  rgba(128, 128, 128, 0);
    border-radius: 3px;
}
 .fa-magnifying-glass {
    position: absolute;
    margin-left: 700px;
    margin-top: 15px;
    font-size: 14px;
    color: #6161616c;
}
.fa-bolt {
   margin-left: 1050px;
   margin-top: 15px;
   font-size: 11px;
   color: brown;
}
.hr span{
    position: absolute;
    margin-top: 18px;
    margin-left: 3px;
    font-size: 12px;
}

.book {
    position: absolute;
top: 8px;
    margin-left: 1140px;
    height: 32px;
    background-color: #ff6f61;
    border: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    color: white;
}
.lab {
    position: absolute;
    margin-top: 130px;
    margin-left: 650px;
 
}
.lab h2 {
    padding-bottom: 10px;
}
.fa-hand-holding-medical {
    font-size: 40px;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-left: 30px;
}
.hand p {
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 13px;
}
.hand hr {
    position: absolute;
    width: 100px;
    rotate: 450deg;
    margin-left: 55px;
    top: 130px;
}
.fa-motorcycle {
    font-size: 40px;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-left: 30px;
}
.cycle p {
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 13px;
}

.cycle hr {
    position: absolute;
    width: 100px;
    rotate: 450deg;
    margin-left: 55px;
    top: 130px;
}
.fa-display {
    font-size: 40px;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-left: 30px;
}

.display p {
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 13px;
}

.display hr {
    position: absolute;
    width: 100px;
    rotate: 450deg;
    margin-left: 55px;
    top: 130px;
}
.fa-user-doctor {
    font-size: 40px;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-left: 30px;
}

.doc p {
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 13px;
}

.doc hr {
    position: absolute;
    width: 100px;
    rotate: 450deg;
    margin-left: 55px;
    top: 130px;
}
.fa-percent {
    font-size: 40px;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-left: 30px;
}

.percent p {
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 13px;
}
.pack {
display: flex;
justify-content: space-between;
}
.how {
    position: absolute;
    width: 50px;
    height: 100px;
    margin-left: 650px;
    padding-left: 11px;
    border-right: none;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.37);
   text-align: center;
   padding-top: 10px;
   letter-spacing: 1px;
}
.circle {
    position: absolute;
margin-left: 667px;
font-size: 30px;
margin-top: 80px;
background-color: white;
}
.circle a {
    color: rgb(255, 123, 0);
}
.popular {
    position: absolute;
    margin-top: 65px;
    height: 40px;
    width: 240px;
    text-align: center;
    background-color: #ff6f61;
    border: 1px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
}
.profiles  h3{
    position: absolute;
    margin-top: 410px;
    margin-left: 170px;
}

.house {
    position: absolute;
    margin-top: 450px;
    margin-left: 170px;
    border: 1px solid;
    bottom: px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    border-color: rgba(128, 128, 128, 0.322);
    border-radius: 5px;
}
.house span {
    position: absolute;
    width: 500px;
    margin-left: 25px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 2px;
}
.fa-circle-plus {
    position: absolute;
   font-size: 20px;
   color: grey;
}
.cbc {
   position: relative;
   margin-left: 30px;
   font-size: 13px;
   color: black;
   margin-top: 2px;
   width: 210px;
   
}
.tests {
    display: flex;
    justify-content: space-between;
    
}
.pro {
    display: flex;
}

.KFT {
    position: relative;
    margin-left: 30px;
    font-size: 13px;
    color: black;
    margin-top: 2px;
    width: 210px;
 }
 .glass {
    position: absolute;
    left: 0;
    margin-left: 400px;
    margin-top: 30px;
    border: 1px solid grey;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .glass1 a{
    color: #ff6f61;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.322);
 }
 .container {
    width: 372px;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin-left: 430px;
    margin-top: 250px;
    
 }
 .wrapper {
    width: 100%;
    height: 250px;
    display: flex;
    animation: slide 16s infinite;
 }
 @keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
 }
.container img {
width: 100%;
}
.radio1 {
    position: absolute;
    margin-top: 350px;
    margin-left: 380px;
}
.radio1:checked .container {
    animation: slide1 16s infinite;
    cursor: pointer;
}
@keyframes slide1 {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
 }
