*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}
.logo img{position: absolute;
    width: 148px;
    height: 148.6px;
    padding: 1rem;
    top  : -53px;
    margin-left: 1px;
    margin-top: 1px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    width: 690px;
    margin-left: 145px;
    font-size: 13px;
}
.navbar a {
    font-weight: 700;
}
.nav__link {
    color: black;
}
.nav__link--active {
    color: #ff6f61;
}
.nav__link:hover {
    color: #ff6f61;
}
.subsm {
    position: absolute;
   background-color: #ff6f61;
   color: white;
   text-align: center;
   padding-top: 2.5px;
   padding-bottom:3px;
   top: -5px;
   font-size: 10px;
   margin-left: 80px;
   width: 70px;
   margin-top: 2.5px;
   border-radius: 1px;
}
.sublab {
    position: relative;
   background-color: #ff6f61;
   color: white;
   text-align: center;
   padding-top: 2.5px;
   padding-bottom:3px;
   top: -20px;
   font-size: 10px;
   margin-left: 80px;
   width: 30px;
   margin-top: 2.5px;
   border-radius: 1px;
}
.navbar {
    position: absolute;
    margin-top: 16px;
}
 .login {
    display: flex;
    position: absolute;
    margin-left: 1020px;
    margin-top: 18px;
    font-size: 13px;
    letter-spacing: 0.8px;
}
.login a {
    color: black;
}
.login p {
    position: relative;
    margin-left: 6px;
}
.sign {
    position: relative;
    margin-left: 6px;
}
.fa-cart-shopping {
    position: absolute;
    margin-left: 35px;
    font-size: 20px;
    top: -2px;
}
.sup {
  margin-left: 100px;
}
sup {
    position: absolute;
    top: -11px;
    left: 265px;
    color: #ff6f61;
    font-size: 10px;
}
.bar  a{
    display: none;
    cursor: pointer;
}

/* mediaQ for header */
@media (max-width:770px) {
        header { position: absolute;
            background-color: grey;
            width: 1340px;
            height: 50px;
        }
        .bar a{
            display: block;
            position: absolute;
            font-size: 30px;
            margin-left: 703px;
            margin-top: 10px;
        }
        .logo {
            position: absolute;
            margin-top: 3px;
        }
        .navbar {
            display: grid;
            z-index: 1;
            grid-template-rows: 50px 50px 50px 50px 50px;
            padding-right: 130px;
            margin-top: 50px;
            background-color: grey;
            width: 500px;
             padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 150px; 
         display: none;
        }
       
        .nav__link--active {
            color: black;
        }
        .subsm {
           position: absolute;
           margin-top: 274px;
        }
        .bar:hover .nav__link {
            display: block;
        }
        .login {
           position: absolute;
           left: -600px;
           top: 50px;
           
        }
       .hr .search {
        position: absolute;
        margin-top: 70px;
        left: -80px;
        z-index: 1;
       }
        .fa-magnifying-glass {
           position: absolute;
          left: -90px;
          top: 65px;
           z-index: 1;
        }
        .hr .book {
            position: absolute;
            left: -600px;
            margin-top: 120px;
            z-index: 1;
        }
        .hr span {
            position: absolute;
            top: 120px;
            z-index: 1;
            left: 60px;
            
        }
        .hr {
            border: 0px solid none;
        }
        .hr .fa-bolt {
            position:absolute;
            left: -850px;
            top: 120px;
            z-index: 1;
        }
        .menu li {
            position: relative;
            top: 120px;
            z-index: 1;
            padding-left: 10px;
               padding-right: 15px;
        }
        .covid ul a {
                position: absolute;
                z-index: 1;
                margin-top: 110px;
                left: -255px;
        }
        .offer {
            position: absolute;
            left: -348px;
            z-index: 1;
            top: 275px;

        }
        .offer img {
            width: 268px;

        }
     .image1 .image2 {
            position: relative;
            margin-top: 300px;
            z-index: 1;
            width: 510px;
        }
      .tata h3{position: absolute;
        top: 550px;
        left: 80px;
      }
      .freez {
        position: absolute;
        top: 630px;
        min-width: 100px;
      }
      .freez img{
        padding-right: 600px;
      }
      .shop {
        position: absolute;
        top: 630px;
      }
        .shop1 .shops {
            position: absolute;
            margin-top: 450px;
            display: block;
        }
        .shop1 .shops{
            display: grid;
            grid-template-columns: 100px 100px 600px;
            left: 0;
            grid-template-rows: 180px;
            padding-right: 100px;
        }   
        .tata {
            border: 1px solid rgb(245, 239, 239);
            width: 1000px;
        }    

}


/*  */
.hr {
    position: absolute;
    width: 100%;
    height: 47px;
   border: 1px solid rgba(128, 128, 128, 0.233);
   margin-top: 50px;
   border-top: 1px solid rgba(128, 128, 128, 0.103);
}
.txt {
    position: absolute;
    width: 190px;
    margin-left: 63px;
    margin-top: 8px;
    height: 32px;
    padding-left: 30px;
    font-size: 12px;
    border-width: 0.1px;
    background-color: #f1f4f6;
    border-color:  rgba(128, 128, 128, 0);
    border-radius: 3px;
}
.fa-location-dot {
    position: absolute;
    margin-left: 73px;
    margin-top: 15px;
    font-size: 15px;
    color: grey;
}
.fa-location-crosshairs {
    position: absolute;
    margin-left: 225px;
    margin-top: 15px;
    font-size: 15px;
    color: grey;
}
.search {
    position: absolute;
    margin-left: 265px;
    margin-top: 8px;
    width: 460px;
    height: 32px;
    padding-left: 12px;
    border-width: 0.1px;
    background-color: #f1f4f6;
    border-color:  rgba(128, 128, 128, 0);
    border-radius: 3px;
}
 .fa-magnifying-glass {
    position: absolute;
    margin-left: 700px;
    margin-top: 15px;
    font-size: 14px;
    color: #6161616c;
}
.fa-bolt {
   margin-left: 900px;
   margin-top: 15px;
   font-size: 11px;
   color: brown;
}
.hr span{
    position: absolute;
    margin-top: 18px;
    margin-left: 3px;
    font-size: 12px;
}

.book {
    position: absolute;
top: 8px;
    margin-left: 1140px;
    height: 32px;
    background-color: #ff6f61;
    border: 1px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 3px;
    color: white;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding-top: 110px;
    font-size: 13px;
}
a {
    color: black;
}
.ddown a{
    display: block;
    padding: 5px;
   color: black;
}

.ddown {
    position: absolute;
    background: transparent;
    box-shadow: 0 20px 45px 0 rgba(128, 128, 128, 0.719);
    display: none;
    height: 90px;
    z-index: 1;
    top: 120px;
    left: 25px;
    padding-top: 10px;
}
 .menu li:nth-child(1):hover .ddown {
display: block;
background-color: white;
 }
.covid {
    position: absolute;
    font-size: 13px;
    margin-left: 600px;
    margin-top: 15px;
}
a:hover {
    color: #fc036b;
}
.diabetes a{
    display: block;
    padding: 5px;
}
.diabetes {
    position: absolute;
    padding-left: 8px;
    background: transparent;
    box-shadow: 0 20px 45px 0 rgba(128, 128, 128, 0.719);
    height: 242px;
    display: none;
    z-index: 1;
    top: 125px;
    padding-top: 10px;
}
.menu li:nth-child(3):hover .diabetes {
    display: block;
    background-color: white;
}
.essentials a{
    display: block;
    padding: 5px;
}
.essentials {
    position: absolute;
    padding-left: 8px;
    width: 200px;
    background: transparent;
    box-shadow: 0 20px 45px 0 rgba(128, 128, 128, 0.719);
    height: 210px;
    display: none;
    z-index: 1;
    top: 15px;
    padding-top: 10px;
}
.covid li:nth-child(1):hover .essentials {
    display: block;
    background-color: white;
}
.offer img{
   margin-left: 850px;
    height: 200px;
    margin-top: 48px;
}
.image1 {
    width: 850px;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin-left: 425px;
    top: 298px;
   
 }
 .image2 {
    width: 100%;
    height: 250px;
    display: flex;
    animation: slide 16s infinite;
 }
 .image1 img {
    width: 100%;
    height: 200px;
    }
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(0);
        }
        30% {
            transform: translateX(-100%);
        }
        50% {
            transform: translateX(-100%);
        }
        55% {
            transform: translateX(-200%);
        }
        75% {
            transform: translateX(-200%);
        }
        80% {
            transform: translateX(-300%);
        }
        100% {
            transform: translateX(-300%);
        }
     }
     .tata h3{
        color: grey;
        margin-top: 25px;
     }
     .tata {
        border: 1px solid rgba(128, 128, 128, 0.253);
        height: 70px;
        width: 100%;
        text-align: center;
     }
     .freez img{
        position: absolute;
        width: 1270px;
        height: 130px;
       margin-left: 50px;
       margin-top: 20px;
     }
     .shop {
        position: absolute;
        margin-top: 192px;
        font-size: 20px; 
        margin-left: 50px;
     }
     .shops img{
        height: 120px;
        width: 120px;
       
     }
     .shops p {
        font-size: 13px;
        text-align: center;
        width: 100px;
     }
     .shops {
        display: flex;
        justify-content: space-around;   
   }
   .shops {
    position: absolute;
    margin-bottom: 200px;
    width: 1330px;
padding-top: 250px;
   }
   .shops hr {
    position: absolute;
rotate: 450deg;
margin-bottom: 100px;
   }

   .good {
    position: absolute;
    width: 100%;
    height: 160px;
    /* border: 1px solid rgba(128, 128, 128, 0.37); */
    margin-top: 500px;
    box-shadow: 0px 10px 40px grey;
   }
   .good1 {
    position: absolute;
    margin-top: 450px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;

   }
   .good1 span {
    position: absolute;
    margin-left: 1200px;
    top: -1px;
    width: 100px;
    
   }
   .good1 button {
    padding: 2px 10px 2px 10px;
    background-color: #ff6f61;
    border: none;
    border-radius: 2px;
   }
   .good1 a {
    color: white;
   }
   .smart {
    position: absolute;
    width: 300px;
    height: 120px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 10px;
    
   }
   .smart1 {
    position: absolute;
    width: 300px;
    height: 120px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    margin-left: 370px;
    margin-top: 20px; 
    border-radius: 10px;
   }
   .smart2 {
    position: absolute;
    width: 300px;
    height: 120px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    margin-left: 680px;
    margin-top: 20px;
    border-radius: 10px;
   }
   .smart3 {
    position: absolute;
    width: 300px;
    height: 120px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    margin-left: 990px;
    margin-top: 20px;
    border-radius: 10px;
   }
   .smart h5{position: absolute;
      margin-top: 10px;
      margin-left: 10px;
   }
   .smart h6{position: absolute;
    margin-top: 10px;
    margin-left: 250px;
    font-size: 13px;
    left: -10px;
    background-color: #ff6f61;
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
 }
 .smart p{position: absolute;
    margin-top: 90px;
    margin-left: 10px;
 }
.smart .num {
   margin-top: 2px;
   position: absolute;
    font-size: 13px;
}
.smart s {
    border: 1px dashed green;
    font-size: 13px;
    color: green;
    padding: 2px 2px 2px 2px;
    margin-left: 50px;
}
.smart del {position: absolute;
    font-size: 100px;
    top: -56px;
    color: grey;
}
/* 2 */
.smart1 h5{position: absolute;
    margin-top: 10px;
    margin-left: 10px;
 }
 .smart1 h6{position: absolute;
  margin-top: 10px;
  margin-left: 250px;
  font-size: 13px;
  left: -10px;
  background-color: #ff6f61;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
}
.smart1 p{position: absolute;
  margin-top: 90px;
  margin-left: 10px;
}
.smart1 .num {
 margin-top: 2px;
 position: absolute;
  font-size: 13px;
}
.smart1 s {
  border: 1px dashed green;
  font-size: 13px;
  color: green;
  padding: 2px 2px 2px 2px;
  margin-left: 50px;
}
.smart1 del {position: absolute;
  font-size: 100px;
  top: -56px;
  color: grey;
}
/* 3 */
.smart2 h5{position: absolute;
    margin-top: 10px;
    margin-left: 10px;
 }
 .smart2 h6{position: absolute;
  margin-top: 10px;
  margin-left: 250px;
  font-size: 13px;
  left: -10px;
  background-color: #ff6f61;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
}
.smart2 p{position: absolute;
  margin-top: 90px;
  margin-left: 10px;
}
.smart2 .num {
 margin-top: 2px;
 position: absolute;
  font-size: 13px;
}
.smart2 s {
  border: 1px dashed green;
  font-size: 13px;
  color: green;
  padding: 2px 2px 2px 2px;
  margin-left: 50px;
}
.smart2 del {position: absolute;
  font-size: 100px;
  top: -56px;
  color: grey;
}
/* 4 */
.smart3 h5{position: absolute;
    margin-top: 10px;
    margin-left: 10px;
 }
 .smart3 h6{position: absolute;
  margin-top: 10px;
  margin-left: 250px;
  font-size: 13px;
  left: -10px;
  background-color: #ff6f61;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
}
.smart3 p{position: absolute;
  margin-top: 90px;
  margin-left: 10px;
}
.smart3 .num {
 margin-top: 2px;
 position: absolute;
  font-size: 13px;
}
.smart3 s {
  border: 1px dashed green;
  font-size: 13px;
  color: green;
  padding: 2px 2px 2px 2px;
  margin-left: 50px;
}
.smart3 del {position: absolute;
  font-size: 100px;
  top: -56px;
  color: grey;
}
/*  */
.brands {
    margin-top: 750px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;

}
.brands a {
    color: white;
}
.brands span {position: relative;
    margin-left: 1200px;
    top: -20px;
    width: 100px;
}
.brands button {
    padding: 2px 10px 2px 10px;
    background-color: #ff6f61;
    border: none;
    border-radius: 2px;
   }
   .brand {
    position: absolute;
    width: 100%;
    height: 160px;
    border: 1px solid rgba(128, 128, 128, 0.37);
    
    box-shadow: 0px 10px 40px grey;
   } 
   .brands1 {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
   }
   .brands1 img {
    width: 164px;
    height: 164px;
    padding: 30px 30px 30px 30px;
    border: 1px solid rgba(128, 128, 128, 0.164);
   }

/*  */
@media (max-width:770px) {
    .good1 p {
        position: absolute;
        margin-top: 630px;
        width: 400px;
    }
    .good1 button {
position: absolute;
margin-top: 630px;
left: -600px;
    }
    .good {
        position: absolute;
        margin-top: 1130px;
        height: 300px;
        width: 750px;
    }
    .smart1 { position: absolute;
        left: 50px;
    }
.smart2 {
    position: absolute;
    left: -620px;
    margin-top: 160px;
}
.smart3 {
    position: absolute;
    left: -570px;
    margin-top: 160px;
}

.brand { position: relative;
    margin-top: 750px;
    height: 670px;
    box-shadow: 0px 0px  10px 10px rgba(128, 128, 128, 0.39);
    width: 750px;
}
.brands p {position: absolute;
    margin-top: 720px;
}
.brands button{position: absolute;
     margin-top: 720px;
     left: -600px;
     top: 23px;
     color: white;
}
.brands span {
    color: white;
}
.brands1 {
    display: grid;
    position: absolute;
    left: 100px;
    grid-template-columns: repeat(2, 300px);
}
.brands123 {
    margin-left: 150px;
}


}