*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
body {
    background-color: black;
    width: 100%;
    min-width: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}
header ul li {
    color: white;
}
header h1 {
    color: white;

}
.navbar a {
    text-decoration: none;
    
color: #fff;
}
header ul li {
    color: #fff;
}
 header {
    display: flex;
 justify-content: space-between;
 padding: 2rem;
 animation: header 1.3s ease-in-out;
}
@keyframes header {
    0%{
        transform: translateY(-100%);
    }
}
nav li {
display: inline;
margin: 10px;
font-weight: bold;
}
.main {
    color: #fff;
    padding: 8rem;
    position: absolute;
    bottom: 80px;
}
.half button{
     padding: 15px;
     margin-right: 10px;
     border-radius: 10px;
     background: transparent;
     color: white;
     border-color: white;
     
}
span{
    color: rgb(134, 3, 3);
}
button:hover{
    background-color: rgb(134, 3, 3);
}
.half h1 {
    font-size: 100px;
}
.half{
    overflow: hidden;
}
.half h2 {
    font-size: 30px;    
    padding: 5px;
}
.half p {
    font-size: 20px;
    padding: 5px;
}

.car {
    width: 600px;
    position: absolute;
    left: 700px;
    top: 150px; 
    animation: 5s car ease-in-out;
}
@keyframes car {
    0% {
        transform: translateX(100%);
    }
}





















.uorderlink4 {
    position: absolute;
    bottom: 100px;
    margin-left: 70px;
    width: 100%;
    
}
.line13 {
    width: 60px;
    height: 4px;
    background-color: #fc036b;
    margin-left: 180px;
}

.insta {
    position: absolute;
    width: 40px;
    height: 40px;
   margin-left: 80px;
   background-color: #fc036b;
   border-radius: 10px;
   color: whitesmoke;
}
.uorderlink4 h3  {
    margin-left: 180px;
    width: 100%;
}

.fb {position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 195px;
    top: 43px;
    background-color: #fc036b;
    border-radius: 10px;
}
.twitter {position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 140px;
    top: 43px;
    background-color: #fc036b;
    border-radius: 10px;
}
.order2 {
    text-align: center;
      list-style: none;
      margin-bottom: 50px;
}

