*{
    margin: 0;
    padding: 0;
}
body{
   
    
    font-family: sans-serif;
}
header  {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(./8\ Awesome\ Things\ to\ Do\ in\ Darjeeling\ Which\ You\ Just\ Cannot\ Miss!.jpg);
background-position: center;
position: relative;
background-size: cover;
background-attachment: fixed;
 }
header {
   
    display: flex;
    justify-content: space-between;
color: white;
}
header ul li {
    display: inline;
    padding: 1rem;
font-weight: bold;}
a {
     text-decoration: none;
     color: white;
}
h1 {
    padding: 2rem;
}
nav {
     padding: 41px;
    align-items: center;
   padding-left: 700px;
   
} 

nav {
    position: absolute;
    top: 0;
 }

header ul .dropdown  {
    position: absolute;
    width: 100px;
    background: transparent;
    box-shadow: 0 20px 45px black;
    opacity: 0;
   
    height: 150px;
    margin-top:5px;
    margin-left: 185px;
}
header ul .ddown {
    position: absolute;
    width: 100px;
    background: transparent;
    box-shadow: 0 20px 45px black;
    opacity: 0;
    height: 130px;
    margin-top:5px;
    margin-left: 120px;
}


header ul li:nth-child(3):hover .dropdown {

    opacity: 1;
 }
 li:nth-child(1):hover .ddown {
    opacity: 1;
}
.dropdown a {
    display: block;
    width: 95px;
    text-align: center;
    cursor: pointer;
}
.ddown a{
    display: block;
    width: 95px;
    text-align: center;
    cursor: pointer;
}
.nav__link--active {
    color: #fc036b;
}

a:hover {
    color: #fc036b;
}
.contact {
    background-color: #fc036b;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.main {
    position: absolute;
    padding-top: 250px;
    padding-left: 450px;

}
.main h2 {
    position: absolute;
    padding-left: 90px;
    height: 100px;
}
.main button {
    position: absolute;
    padding: 10px;
    width: 150px;
    background-color: #fc036b;
    border-color: #fc036b;
    border-radius: 10px;
    margin-right: 500px;
}
.half {
    letter-spacing: 8px;
}
.main button {
    position: absolute;
    margin-left: 170px;}
.line {
    background-color: #fc036b;
    width: 150px;
    height: 4px;
    margin: 10px auto;
}
.main h1 {
    padding-top: 12px;
}
/* upcoming */
.features {
    position: absolute;
   padding-left: 550px;
   font-family: sans-serif;
   font-weight: bold;
}
.point {
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #fc036b;
    padding-right: 30px;
    top: 0;
    margin: 85px;
    margin-top: 70px;
}
.trek {
    position: absolute;
    padding: 8rem;
    }
.trek img {
    width: 550px;
}
.trek p {
    position: absolute;
    width: 500px;
    text-align: center;
    padding-left: 35px;
}
.camp {
    text-align: center;
    padding-left: 25px;
    font-weight: bold;
    font-weight: 900;
}
.walk {
    position: absolute;
    padding: 8rem;
}
.walk img{
    width: 550px;
    height: 412px;
}
.walk p{
    position: absolute;
    width: 500px;
    text-align: center;
    padding-left: 35px;
    margin-bottom: 100px;
}
.learnm {
    position: absolute;
    margin-left: 250px;
    top: 675px;
    background-color: #fc036b;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-left: 230px;
    margin-bottom: 10px;
}
.hol {
    text-align: center;
    padding-left: 25px;
    font-weight: bold;
    font-weight: 900;
}
.wh  {
    position: absolute;
    margin-left: 600px;
}
.lmore {
    position: absolute;
    margin-left: 250px;
    top: 675px;
    background-color: #fc036b;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-left: 230px;
}

.etw {
    margin-top: 800px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(./Girl\ on\ mountain\ peak\ with\ green\ grass\ looking\ in\ mountains.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.etw h1 {
    position: absolute;
    padding: 12rem;
    letter-spacing: 2px;
    font-size: 40px;
}
/* line */
.girl { 
    position: absolute;
    height: 4px;
    background-color: #fc036b;
    padding-right: 140px;
    margin: 350px;
    margin-top: 250px;}
    .etw p {
        position: absolute;
    padding-right: 100px;
    margin: 90px;
    margin-top: 280px;
    max-width: 800px;
    }
    .etw button {
        position: absolute;
        letter-spacing: 2px;
        margin-top: 350px;
        color: white;
        background-color: #fc036b;
        border-color: #fc036b;
        border-radius: 10px;
        padding: 15px;
        margin-left: 350px;
    }
    .tours h1 {
         max-width: 250px;
         position: absolute;
    }
.line3 {
    position: absolute;
    height: 4px;
    background-color: #fc036b;
    padding-right: 100px;
    margin-right: 100px;
    margin-left: 35px;
    margin-top: 150px;
    
}
.tours p {
    position: absolute;
    padding: 2rem;
    max-width: 200px;
    margin-bottom: 300px;

}
.tourbtn {
    position: absolute;
    letter-spacing: 2px;
    color: white;
        background-color: #fc036b;
        border-color: #fc036b;
        border-radius: 10px;
        padding: 15px;
        padding-left: 20px;
        margin-top: 600px;
        margin-left: 30px;
}
.img1 { position: absolute;
   width: 450px;
   height: 250px;
   padding-left: 350px;
   margin-top: 80px;

}
.img2 { position: absolute;
    width: 450px;
    height: 250px;
    margin-top: 80px;
    margin-left: 815px;
}
.img3 { position: absolute;
    width: 450px;
    height: 250px;
    margin-top: 345px;
    padding-left: 350px;
}
.img4{ position: absolute;
    width: 450px;
    height: 250px;
    padding-left: 200px;
    margin-top: 345px;
    margin-left: 615px;
}
.text {
    position: absolute;
    margin-top: 160px;
}
/* .footer {
    
    width: 100%;
    margin-top: 700px;
    background-color: #484872;
    padding-bottom: 250px;
    
    height: 100px;
} */
.footr {
    margin-top:700px;
    background-color: grey;
    overflow: hidden;
}
.social {
    color: black;
}
.ride {
    display: flex;
    
}
.footer {
padding: 2rem;
}
.col {
    width: 25%;
    list-style: none;
    padding: 2rem;
}
.col h4 {
    font-size: 1.2rem;
    margin-bottom: 25px;
    position: relative;
    color: white;
}
.col h4::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    bottom: -8px;
    color: #fc036b;
}
.col ul li:not(:last-child) {
margin-bottom: 15px;
}
.col ul li  {
    list-style: none;
    text-transform: capitalize;
    transition: .4s;
}
.col ul li:hover {
  color: transparent;
  transform: translateX(-12px);
}
.line10 {position: absolute;
    width: 60px;
    height: 4px;
    background-color: #fc036b;
    top: 2855px;
 
}
    .line11 {position: absolute;
        width: 60px;
        height: 4px;
        background-color: #fc036b;
        top: 2855px;
    }
    .line12 {position: absolute;
        width: 60px;
        height: 4px;
        background-color: #fc036b;
        top: 2855px;
    }
    .line13 {position: absolute;
        width: 60px;
        height: 4px;
        background-color: #fc036b;
        top: 2855px;

    }
    .time {position: absolute;
        background: transparent;
        height: 100px;
        width: 1350px;
    }
    .time {
        position: sticky;
        top: 0;
    }